html {
	height:100%;
}	
 
body {
	 margin:0px;
	 padding:0px;
	 font-family: tahoma;
	 min-height:100%;	 
	 width:100%;
	}
	
	h1{
		font-size:48;
		margin:0px;
		
		padding:20px;
	}
	
	p {
		border:solid 1px grey;		
		width:800px;
		padding:20px;
	}
	
	ul {
		list-style-type:none;
		float:left;
	}	
	
	#header {background-color: 999999;
				position: absolute;				
				width:100%;
				top:0px;
				height:100px;
				/*margin:0px*/;
				/* padding:10px; */}
	
	#topNav {background-color: 666666;
				position: absolute;				
				width:100%;
				top:100px;
				height:50px;
				/* margin:0px; */
				/* padding:10px; */}	
	
	#content {background-color: e5e5e5;
				position: absolute;
				top:150px;
				left:250px;
				width:100%;				
				min-height:100%;
				/* margin:0px; */
				padding:20px;}
				
	
				
	#leftSideNav {background-color: 666666;
				position: absolute;
				top:150px;
				float:left;
				width:250px;				
				min-height:100%;				
				padding:20px;}
				

	
		
	a:hover {background-color: black;	
			color: white;}
			
	.topNavLink	{
		/* width: 150px; */
		padding-left: 20px;
		padding-right:20px;
		text-decoration:none;
		background-color: grey;
		line-height:50px;
		display: inline-block;
		color: white;
	}
	
	.sideNavLink{
		width: 250px;
		padding-left: 20px;
		padding-right:20px;
		text-decoration:none;
		background-color: grey;
		line-height:50px;
		display: inline-block;
		color: white;
	}
	
	.codeBox { background:#424242;	
		font-family: courier;
		color:00FF00;
		/* color:#2E2E2E; */
		border: solid black 1px;
		width: 600px;
		position: relative;
		padding:20px;
		/* height: 600px */;		
	}	
				